@import '../../../../Styles/RFS';
.about {
  padding: 50px 15px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 860px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  .myPhoto {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
    margin: 0 -15px 30px -15px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
  .body{
    flex: 0 1 70%;
    margin: 0 -15px;
    @media (max-width: 860px) {
      flex: 1 1 100%;
    }
    .title{
      font-family: 'Russo One', Arial, Helvetica, sans-serif;
      letter-spacing: 1px;
      color: white;
      font-weight: 800;
      margin-bottom: 20px;
      @include font-size(60px);
      @media (max-width:860px) {
        text-align: center;
      }
    }
  }
  .text{
    @media (max-width:860px) {
      text-align: center;
    }
    .textItem{
      color: white;
      line-height: 20px;
      font-weight: 200;
      letter-spacing: 1px;
      margin-bottom: 20px;
      span{
        font-weight: 900;
      }
      &:nth-last-child{
        margin-bottom: 0;
      }
    }
  }



