.btn{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  text-align: center;
  span{
    display: block;
    margin-bottom: 10px;
  }
  a{
    cursor: pointer;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    transition: color .3s ease;
    &:hover{
      color: #26a1ed;
      text-shadow: 0 0 10px #75c1f0;
    }
  }
  //a{
  //  color: white;
  //  margin: 0 15px;
  //  transition: color .3s ease, filter .3s ease;
  //  &:hover{
  //    filter: drop-shadow(0 0 1.5px #141414);
  //    color: #26a1ed;
  //  }
  //}
}
