@import "../../../Styles/RFS";
.body {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  @media (max-height: 540px) {
    margin-top: -10%;
  }
  .title {
    font-family: "Russo One", Arial, Helvetica, sans-serif;
    color: white;
    @include font-size(70px);
    font-weight: 800;
    text-align: center;
    align-self: center;
    margin-bottom: 30px;
  }
  .text {
    color: white;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.1px;
    max-width: 750px;
    align-self: center;
    text-align: center;
    margin-bottom: 30px;
    span {
      font-weight: 900;
    }
    &:after {
      content: "";
      display: block;
      width: 75%;
      height: 1px;
      background-color: white;
      margin: 20px auto 0 auto;
    }
    @media (max-width: 675px) {
      font-size: 14px;
      line-height: 15px;
    }
  }
}
