@import '../../../../../Styles/RFS';
.work{
  display: flex;
  padding: 50px 0 50px 0;
  border-bottom: 1px solid rgba(43, 43, 43, .5);
  @media (max-width:640px) {
    flex-direction: column;
  }
  .title{
    display: inline-block;
    font-family: 'Russo One', Arial, Helvetica, sans-serif;
    @include font-size(30px);
    flex: 0 1 34%;
    @media (max-width:640px) {
      margin-bottom: 50px;
    }
    h3{
      display: inline-block;
      border-bottom: 5px solid rgb(38, 161, 237);
    }
  }
  .text{
    flex: 0 1 75%;
    h3{
      font-family: 'Russo One', Arial, Helvetica, sans-serif;
      font-size: 20px;
      margin-bottom: 20px;
    }
    p{
      line-height: 18px;
      letter-spacing: 1px;
    }
  }
}
