.nav{
  padding: 20px 0;
}
.menuList{
  display: flex;
  justify-content: center;
  @media (max-width: 650px){
    display: none;
  }
  .menuItem{
    a{
      color: white;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2.5px;
      padding: 0 20px;
      transition: color .3s ease;
      &:hover{
        color: #ff8c00;
        text-shadow: 0 0 3px #ff8c00;
      }
    }
  }
}
