.nav{
  padding: 20px 0;
}
.menuList{
  display: flex;
  justify-content: center;
  .menuItem{
    a{
      color: white;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2.5px;
      padding: 0 20px;
    }
  }
}
