.article{
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #888888;
  padding-top: 50px;
  .inner{
  }
  .slider{}
}
