.social{
  text-align: center;
  a{
    color: white;
    margin-right: 15px;
    transition: color .3s ease, filter .3s ease;
    &:nth-last-child{
      margin-right: 0;
    }
    &:hover{
      filter: drop-shadow(0 0 1.5px #141414);
      color: #26a1ed;
    }
    //@media (max-width: 400px){
    //  margin: 0 5px;
    //}
  }
}


